/* ContentArea.css */
.content-area {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #00aeff #f1f1f1;
    transition: scrollbar-color 0.3s ease;
    position: relative;
    /* background-color: aqua; */
}

/* Webkit Scrollbar */
.content-area::-webkit-scrollbar {
    width: 12px; /* Reduced the width for a sleeker look */
    transition: width 0.3s ease;
}

.content-area::-webkit-scrollbar-thumb {
    background-color: #008cff;
    border-radius: 30px;
    border: 3px solid transparent;
    background-clip: content-box;
    transition: 
        background-color 0.3s ease, 
        transform 0.3s ease, /* Increased ease time for smoother scaling */
        box-shadow 0.3s ease;
}


/* Scrollbar Track */
.content-area::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; /* Slightly rounded corners */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

/* Hover Effect for Scrollbar Track */
.content-area::-webkit-scrollbar-track:hover {
    background: #e0e0e0;
}

/* Scroll Progress Indicator */
.content-area::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #00aeff 0%, #00aeff var(--scroll-percentage), transparent var(--scroll-percentage));
    z-index: 10;
    opacity: 0.5; /* Slightly reduced opacity for a more subtle look */
    transition: opacity 0.3s ease;
}

/* Hover effect for progress indicator */
.content-area:hover::before {
    opacity: 0.9; /* Increase opacity on hover for emphasis */
}

/* Adding a subtle shadow to the content area when scrolling */
.content-area::-webkit-scrollbar-thumb:active {
    background-color: #0099cc; /* Darker thumb color when scrolling */
    box-shadow: 0 0 15px rgba(0, 153, 204, 0.8); /* Enhanced shadow during active scrolling */
}


.card-body{
    border: none;
}
